.navbar-brand > p{
    padding: auto 0;
    margin: auto 0;
}

.navbar-brand > a{
    padding: auto 0;
    margin: auto 0;
    font-family: 'Gudea', sans-serif;
    color: white;
}

.navbar {
    background-color : black;
    font-family: 'Pacifico', cursive;
    color: white;
}



.navbar-toggler-icon{
    border-color: white;
}

.nav-link, #logout{
    cursor: pointer;
}

.nav-link{
    font-family: 'Gudea', sans-serif;
}


.btnLogOut {
    width: 30%;
    margin-left: 80%;
    color: white;
    cursor: pointer;
}