.container-fluid{
    justify-content: center;
}

input{
    width: 100%;
}

h2{
    text-align: center;
}

input[type=text], input[type=password], input[type=tel], input[type=email]{
    width:90%;
    margin: 8px 0;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 3px;
}

.submit{
    background-color: #1898F1;
    color: white;
    cursor: pointer;
}
#signup-container{
    border-style: solid;
    border-width: 4px;
    border-color: #3498DB;
    width: 100%;
    background-color: white;
    text-align: center;
}

#signup-title{
    font-family: 'Pacifico', cursive;
    color: #2C3E50 !important;
}

.form-object{
    font-family: 'Gudea', sans-serif;
}

input[type=submit]{
    width: 20% !important;
}

#signup-button-zone{
    justify-content: center;
    text-align: center;
}
